body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #f4f4f4, #c9e7f0);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #004a97;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 60px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    background: linear-gradient(to right, #1e88e5, #4fc3f7);
    transition: all 0.3s ease-in-out;
}

.main-nav ul li a:hover {
    background: linear-gradient(to right, #93ff3ba6, #89e024b0);
    transform: scale(1.1);
}

.welcome-section {
    padding-top: 10px; /* Reduce el relleno superior */
    margin-top: 0; /* Asegúrate de que no hay margen extra */
    padding: 35px;
    background-color: white;
    margin: 20px auto;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 900px;
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.welcome-section h1 {
    margin-top: 0px; /* Reduce el espacio superior */
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
    background: -webkit-linear-gradient(#1e88e5, #004a97);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-section p {
    color: #3b3636;
    line-height: 1.8;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.welcome-section img {
    /*max-width: 50%; /* Reduce el tamaño al 80% del ancho original */
    width: 800px;
    height: auto; /* Mantiene las proporciones */
    display: block; /* Centra la imagen si tiene margen automático */
    margin: 0 auto; /* Centrado horizontal */
    border-radius: 8px; /* Opcional: bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: sombra ligera */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.welcome-section img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}
